<div class="bg-light min-vh-100 d-flex align-items-center justify-content-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="10" xl="8">
        <c-card-group>
          <!-- Bloc formulaire -->
          <c-card class="p-4 shadow-lg border-0 rounded-start login-card">
            <c-card-body>
              <form cForm>
                <h2 class="text-primary fw-bold text-center mb-2">Bienvenue 👋</h2>
                <p class="text-muted text-center mb-4">Connecte-toi à ton espace</p>

                <!-- Email -->
                <c-input-group class="mb-3">
                  <span cInputGroupText><svg cIcon name="cil-user"></svg></span>
                  <input type="email" autoComplete="email" name="email" [(ngModel)]="email" cFormControl placeholder="Email" />
                </c-input-group>

                <!-- Password -->
                <c-input-group class="mb-4">
                  <span cInputGroupText><svg cIcon name="cil-lock-locked"></svg></span>
                  <input type="password" name="password" [(ngModel)]="password" autoComplete="current-password" cFormControl placeholder="Mot de passe" />
                </c-input-group>

                <!-- Actions -->
                <c-row class="align-items-center">
                  <c-col xs="6">
                    <button cButton class="w-100" color="primary" (click)="onLogin()">Connexion</button>
                  </c-col>
                  <c-col xs="6" class="text-end">
                    <button cButton color="link" class="text-decoration-none px-0">Mot de passe oublié ?</button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>

          <!-- Bloc décoratif -->
         <c-card
  [ngStyle]="{ 'minWidth.%': 44 }"
  class="login-side text-white d-flex align-items-center justify-content-center rounded-end"
>
  <c-card-body class="text-center p-4">
    <h4 class="fw-bold mb-3">Accès sécurisé 🔐</h4>
    <p class="login-description">Gérez vos offres, candidatures et utilisateurs depuis une interface centralisée.</p>
  </c-card-body>
</c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
